<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argu" version="3.7.0" targetFramework="net461" />
  <package id="Expecto" version="5.0.1" targetFramework="net461" />
  <package id="Expecto.VisualStudio.TestAdapter" version="5.0.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.0-beta6" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
</packages>